<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Travel Planner | Destination</title>
  </head>
  <body>
    <h5><a href="{% url 'travel:index'%}">Home</a> <a href="{% url 'login:logout'%}">Log Out</a></h5>
    {% for trip in trips %}
      <h1>{{trip.destination}}</h1>
        <h4>Planned by: {{trip.creater.name}}</h4>
        <h4>description: {{trip.description}}</h4>
        <h4>Travel Date From: {{trip.start}}</h4>
        <h4>Travel Date To: {{trip.end}}</h4>
    {% endfor %}
      <h1>Other users' joing the trip:</h1>
        {% for people in other %}
          <h4>{{people.booked.name}}</h4>
        {% empty %}
          <h4>Nobody else has joined this trip</h4>
        {% endfor %}
  </body>
</html>
